    <footer class="row-footer">
        <div class="container">
            <div class="row">             
                <div class="col-xs-12 col-sm-3">
                    <p style="padding: 5px;"></p>
                    <p style="font-size: 16px; font-family: Maven Pro;"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span><strong>&nbsp;(055) - 839 - 3217</strong></p>
                </div>
                <div class="hidden-xs col-sm-5">
                    <p style="padding: 5px;"></p>
                    <p align=center style="font-size: 16px; font-family: Maven Pro;"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span><strong> Copyright&nbsp;2017 - Milkyway Technologies Co. Limited</strong></p>
                </div>
                <div class="hidden-xs col-sm-4">
                    <div align=center style="padding: 10px;">
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon btn-instagram" href="http://google.com/+"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
